<form>
  <clr-accordion clrAccordionMultiPanel="true">
    <clr-accordion-panel>
      <clr-accordion-title>Merk & Model</clr-accordion-title>
      <clr-accordion-content>
        <select id="brand" class="selectList" #selectedBrand (change)="onChangeBrand(selectedBrand.value)">
          <option selected="selected" disabled="disabled" class="default">Merk</option>
          <option *ngFor="let brand of brands" [value]="brand.brand">{{brand.brand}}</option>
        </select>
        <select id="model" class="selectList">
          <option selected="selected" disabled="disabled" class="default">Model</option>
          <option *ngIf="brandSelected" value="all">Alle modellen</option>
          <option *ngFor="let model of models" [value]="model.model">{{model.model}}</option>
        </select>
      </clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
      <clr-accordion-title>Prijs</clr-accordion-title>
      <clr-accordion-content>
        <select id="price" class="selectList">
          <option selected="selected" disabled="disabled" class="default">Price range</option>
          <option>10000-20000</option>
          <option>20000-30000</option>
        </select>
      </clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
      <clr-accordion-title>Eerste registratie</clr-accordion-title>
      <clr-accordion-content>Content 3</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
      <clr-accordion-title>Transmissie</clr-accordion-title>
      <clr-accordion-content>Content 3</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
      <clr-accordion-title>Brandstof</clr-accordion-title>
      <clr-accordion-content>Content 3</clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
      <clr-accordion-title>Kilometers</clr-accordion-title>
      <clr-accordion-content>Content 3</clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
  <div class="searchDiv">
    <button class="btn btn-primary searchBtn" (click)="getParams()">Zoeken</button>
    <button class="btn btn-secondary searchBtn">Reset</button>
  </div>
</form>
